.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-dribbble {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-facebook {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-github {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-linkedin {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-twitter {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
